* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: rgb(235, 235, 235);
    --glass-gradient: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

body {
    background-color: dodgerblue;

}


.glass {
    background: var(--glass-gradient);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}


.nav-bar {
    z-index: 4;
    position: fixed;
    background: var(--glass-gradient);
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
}

.nav-item {
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
    padding: 5px 10px;
    transition: .6s;
}

.nav-item:hover {
    font-weight: bold;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
}

/* SLider */

.slider-container {
    z-index: 1;
    width: 100%;
    height: 300px;
    overflow: hidden;
    background-image: url("../imgs/a.jpg");
    background-position-y: -180px;
    background-size: 100%;
}

.slider-images {
    width: 3600px;
    height: 300px;
    margin: 0 0 0 -1200px;
    position: relative;
    -webkit-animation-name: slide_animation;
    -webkit-animation-direction: alternate ;
    -webkit-animation-duration: 33s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
}

@-webkit-keyframes slide_animation{
    0% {left: 0;}
    10%{left: 0;}
    20%{left: 100%;}
    30%{left: 100%;}
    40%{left: 0;}
    50%{left: 0;}
    60%{left: -100%;}
    70%{left: -100%;}
    80%{left: 0px;}
    90%{left: 0px;}
    100%{left: 0px;}
}

.img-container {
    height: 640px;
    width: 1200px;
    position: relative;
    float: left;
    overflow: hidden;
}

.img {
    width: 100%;
    height: auto;
}


.container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
}

.margin-0 {
    margin-top: 25%;
}

.margin-1 {
    margin-top: -25%;
}


.card-0 {
    width: 50%;
    height: 100%;
}

.card-box {
    width: 100%;
    height: 100%;
    transition: .5s;
}

.card-img {
    width: 100%;
    height: 100%;
}

.card-box:hover {
    transform: scale(.9);
}

.link-box {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rebeccapurple;
    margin-top: -25%;
    background: linear-gradient(135deg, rgba(26, 72, 224, 0.699), rgb(185, 57, 57));

}

.link {
    width: 88%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    text-align: center;
    font-size: 88px;
    color: var(--primary-color);
    transition: .5s;
}

.link:hover {
    animation: animLink 4.8s infinite running;
}

@keyframes animLink {
    100% {
        font-size: 60px;
    }
}

@keyframes animLink1 {
    100% {
        font-size: 20px;
    }
}

.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px 40px;
    background: transparent;
}
.contacts {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px 40px;
    background: transparent;
}

.cont-box {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.icon {
    width: 30%;
}

.text {
    background: var(--glass-gradient);
    width: 100%;
    color: var(--primary-color);
    font-size: 32px;
    font-weight: bold;
}

.copyright {
    margin: 10px 20px;
    color: var(--primary-color);
    font-size: 24px;
    text-align: center;
}


@media only screen and (max-width: 1030px) {

    .link {
        font-size: 36px;
    }
    .link:hover {
    animation: animLink1 4.8s infinite running;
    }
    
    .contacts {
        padding: 6px 14px;
    }

    .text {
        font-size: 22px;
    }

    .copyright {
        font-size: 18px;
    }


}

@media only screen and (max-width: 690px) {

    .nav-bar {
        height: 60px;
    }

    .nav-item {
        font-size: 14px;
    }


    .contacts {
        padding: 5px 0;
    }
    
    .cont-box{
        width: 80px;
    }

    .icon {
        width: 100%;
    }

    .text {
        margin-top: 6px;
        font-size: 12px;
        height: 30px;
    }
}